* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.cards {
  width: 100%;
  height: auto;
}

.card {
  margin: 5%;
  width: 21%;
  float: left;
  border: 1px solid;
  border-radius: 12px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  box-shadow: 0px 0px 2px rgb(22, 10, 20);
}
.card:hover {
    box-shadow: 0px 0px 10px black 0px 0px 12px lightslategray;
    transform: scale(1.05); 
}

.card-title {
  text-transform: uppercase;
  margin-top: 5px;
  margin-bottom: 10px;
}
.card-category {
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
}
.card-info {
  padding: 20px;
}
img {
  width: 100%; /* Ensure image fills the card width */
  height: 364px; /* Maintain aspect ratio */
  object-fit: cover;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}
button {
  padding: 9px 5px;
  letter-spacing: 2px;
  color: #868686;
  background-color: #fff;
  font-size: 13px;
  font-weight: 500;
  border: 1px solid black;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  cursor: pointer;
}
button:hover{
    background-color: #868686;
    color: white;
    border-radius: 5px;
}